<div class="form-section">
  <%= f.label :school_name %>
  <%= f.text_field :school_name %>
  <%= f.label :degree %>
  <%= f.text_field :degree %>
  <%= f.label :location %>
  <%= f.text_area :location %>
  <%= f.label :awards %>
  <%= f.text_field :awards %>
  <%= f.label :graduation_date %>
  <%= f.date_select :graduation_date %>
  <a href="#" class="remove-link">remove</a>
</div>
