<div class="form-section fields">
  <%= f.label :school_name %>
  <%= f.text_field :school_name, class: 'required' %>
  <%= f.label :degree %>
  <%= f.text_field :degree %>
  <%= f.label :location %>
  <%= f.text_area :location, rows: '3', cols: '28' %>
  <%= f.label :awards %>
  <%= f.text_field :awards %>
  <%= f.label :graduation_date %>
  <%= f.date_field :graduation_date %><br />
  <a href="#" class="remove-link">remove</a>
</div>
