<div class="form-section fields">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.hidden_field :id %>
      <%= f.label :school_name %>
      <%= f.text_field :school_name, class: 'required' %>
      <%= f.label :degree %>
      <%= f.text_field :degree %>
      <%= f.label :location %>
      <%= f.text_area :location, rows: '3', cols: '28' %>
    </div>

    <div class="small-12 medium-6 columns">
      <%= f.label :graduation_date %>
      <%= f.date_field :graduation_date %>
      <%= f.label :awards %>
      <%= f.text_field :awards %>
    </div>
    <a href="#" class="remove-link"><%= fa_icon "remove" %> remove</a>
  </div>


</div>
