<div class="container request-form">
<%= form_for @request do |f| %>
  <fieldset class="fieldset">
    <legend>Personal Info</legend>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.label :name, 'Full name' %>
        <%= f.text_field :name, size: '24' %>
        <%= f.label :address %>
        <%= f.text_area :address, rows: '3', cols: '28' %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
        <%= f.label :objective %>
        <%= f.text_field :objective %>
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Work Experience</legend>
    <%= f.fields_for :experiences do |ex_f| %>
      <%= render 'experience_fields', f: ex_f %>
    <% end %>

    <%= link_to_add_fields "<i class='fa fa-plus'></i> Add Work Experience".html_safe, f, :experiences %>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Education</legend>
    <%= f.fields_for :educations do |ed_f| %>
      <%= render 'education_fields', f: ed_f %>
    <% end %>

    <%= link_to_add_fields "<i class='fa fa-plus'></i> Add Education".html_safe, f, :educations %>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Skills</legend>
    <%= f.fields_for :skills do |sk_f| %>
      <%= render 'skill_fields', f: sk_f %>
    <% end %>

    <%= link_to_add_fields "<i class='fa fa-plus'></i> Add Skill".html_safe, f, :skills %>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Volunteer Work</legend>
    <%= f.fields_for :volunteers do |vo_f| %>
      <%= render 'volunteer_fields', f: vo_f %>
    <% end %>

    <%= link_to_add_fields "<i class='fa fa-plus'></i> Add volunteer experience".html_safe, f, :volunteers %>
  </fieldset>

  <%= f.submit "Place Order"%>
<% end %>
</div>
