<div class="container">
<h2>Please review your order:</h2>

<table>
<% @cart.line_items.each do |l_i| %>
  <tr>
    <td><%= l_i.product.title  %></td>
    <td>X</td>
    <td><%= l_i.quantity %></td>
    <td>=</td>
    <td><%= number_to_currency(l_i.product.price * l_i.quantity) %>
  </tr>
<% end %>
  <tr>
    <td></td><td></td><td></td><td></td>
    <td class="right-aligned">
      <strong><%= number_to_currency(@cart.total_price) %></strong>
    </td>
  </tr>
</table>
<fieldset class="fieldset">
<ul>
  <h4>Personal Info:</h4>
  <li><strong>Name:</strong> <%= @request.name %></li>
  <li><strong>Address:</strong> <%= @request.address %></li>
  <li><strong>Email:</strong> <%= @request.email %></li>
  <li><strong>Objective:</strong> <%= @request.objective %></li>
  </fieldset>
  <hr />

  <h4>Experience:</h4>
      <% counter = 1 %>
  <% @request.experiences.each do |experience|  %>
    <div>
      <li><strong><%= counter %></strong></li>
      <% counter += 1 %>
      <li><strong>Company:</strong> <%= experience.company %></li>
      <% if experience.job_title.length > 0 %>
        <li><strong>Job title:</strong> <%= experience.job_title %></li>
      <% end %>
      <% if experience.location.length > 0 %>
        <li><strong>Location:</strong> <%= experience.location %></li>
      <% end %>
      <% if experience.start_date %>
        <li><strong>Start date:</strong> <%= experience.start_date %></li>
      <% end %>
      <% if experience.end_date %>
        <li><strong>End date:</strong> <%= experience.end_date %></li>
      <% end %>
      <% if experience.responsibilities.length > 0 %>
        <li><strong>Responsibilities:</strong> <%= experience.responsibilities %></li>
      <% end %>
      <% if experience.awards.length > 0 %>
        <li><strong>Awards:</strong> <%= experience.awards %></li>
      <% end %>
    </div>
    <hr />
  <% end %>

  <h4>Education:</h4>
    <% counter = 1 %>
  <% @request.educations.each do |edu| %>
    <div>
      <li><strong><%= counter %></strong></li>
      <% counter += 1 %>
      <li><strong>School:</strong> <%= edu.school_name %></li>
      <% if edu.degree.length > 0 %>
        <li><strong>Degree:</strong> <%= edu.degree %>
      <% end %>
      <% if edu.location.length > 0 %>
        <li><strong>Location:</strong> <%= edu.location %>
      <% end %>
      <% if edu.graduation_date %>
        <li><strong>Graduation date:</strong> <%= edu.graduation_date %>
      <% end %>
      <% if edu.awards.length > 0 %>
        <li><strong>Awards:</strong> <%= edu.awards %>
      <% end %>
    </div>
    <hr />
  <% end %>

  <h4>Skills:</h4>
  <% counter = 1 %>
  <div class="list-div">
  <% @request.skills.each do |skill| %>
      <li><strong><%= counter %></strong></li>
      <% counter += 1 %>
      <li><%= skill.description %></li>
      <hr />
  <% end %>
</div>
  <hr />

  <h4>Volunteer Experience:</h4>
    <% counter = 1 %>
  <% @request.volunteers.each do |vol| %>
    <div>
      <li><strong><%= counter %></strong></li>
      <% counter += 1 %>
      <li><strong>Organization:</strong> <%= vol.organization %></li>
      <% if vol.location.length > 0 %>
        <li><strong>Location:</strong> <%= vol.location %></li>
      <% end %>
      <% if vol.start_date %>
        <li><strong>Start date:</strong> <%= vol.start_date %></li>
      <% end %>
      <% if vol.end_date %>
        <li><strong>End date:</strong> <%= vol.end_date %></li>
      <% end %>
      <% if vol.duties.length > 0 %>
        <li><strong>Duties:</strong> <%= vol.duties %></li>
      <% end %>
    </div>
    <hr />
  <% end %>

  <h4>Additional Comments:</h4>
  <% if @request.comment && @request.comment.length > 0 %>
    <li><%= @request.comment %></li>
  <% end %>
</ul>


<div class="centered">
  <form action="https://www.paypal.com/cgi-bin/webscr"
      method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="g7293@outlook.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden"
        name="item_name" value="<%= @cart.generate_short_list %>">
    <input type="hidden" name="amount" value="<%= @cart.total_price %>">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="0">
    <input type="hidden" name="shipping" value="0">
    <input type="hidden" name="bn"
        value="PP-BuyNowBF:btn_buynow_SM.gif:NonHostedGuest">
    <button type="submit" class="button success large checkout-button">
      <%= fa_icon "paypal" %> Check out with PayPal
    </button>

  </form>
</div>

<div class="centered">
  <div class="inline">
    <%= button_to 'Edit this order', cart_path(@cart),
        method: 'get', class: "button medium" %>
  </div>

  <div class="inline">
    <%= button_to "Cancel Order", @cart, method: :delete,
        data: { confirm: 'Are you sure?' }, class: "button alert medium" %>
  </div>
</div>
</div>
