<!DOCTYPE html>
<html>
<head>
  <title>ResumesThatResonate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="pure-menu pure-menu-horizontal green">
      <ul class="pure-menu-list">
          <li class="pure-menu-item"><%= link_to "Home", root_path, :class => "pure-menu-link" %></li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink1" class="pure-menu-link">Services</a>
              <ul class="pure-menu-children">
                  <li class="pure-menu-item"><%= link_to 'Resumes', resumes_path, :class => "pure-menu-link green" %></li>
                  <li class="pure-menu-item"><a href="#" class="pure-menu-link green">Cover Letters</a></li>
                  <li class="pure-menu-item"><a href="#" class="pure-menu-link green">Consultation</a></li>
              </ul>
          </li>
          <li class="pure-menu-item"><%= link_to "Terms and Conditions", terms_path, :class => "pure-menu-link" %></li>
      </ul>
    </div>
  <div class="logo">
  <%= image_tag("rtr_logo.JPG", :alt => "Resumes that Resonate logo") %>
  </div>
  </div>

<%= yield %>

</body>
</html>
