<!DOCTYPE html>
<html>
<head>
  <title>ResumesThatResonate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="pure-menu pure-menu-horizontal green">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href=<%= root_path %>><img src="/img/rtr_logo.png", height="50"></a>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Samples", resumes_path, class: "pure-menu-link" %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Consultation", root_path, class: "pure-menu-link" %>
        </li>
        <li class="pure-menu-item"><%= link_to "Terms and Conditions", terms_path, class: "pure-menu-link" %>
        </li>
      </ul>
      <ul class="pure-menu-list" id="login-out-links">
        <% if session[:user_id] %>
        <li class="pure-menu-item">
          <%= link_to "Log Out", logout_path, class: "pure-menu-link" %>
        </li>
        <% else %>
        <li class="pure-menu-item">
          <%= link_to "Sign Up", new_user_path, class: "pure-menu-link" %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Log In", login_path, class: "pure-menu-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

</body>
</html>
